<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <Resource
     name="mariadb"
     auth = "Container"
     type="javax.sql.DataSource"
     driverClassName="org.mariadb.jdbc.Driver"
     url="jdbc:mariadb://127.0.0.1:3306/test"
     username="root"
     password="123456" 
     maxActive="50"
     maxWait="-1" />

    
</Context>